In [1]:
import pandas as pd
# read in data

tripChain = pd.read_csv('./data/PJT001_TripChain.csv')

In [2]:
# 컬럼이름을 좀 이쁘게 만들어 보자

tripChain.columns=['암호화카드번호', '트랜잭션ID', '환승횟수', '교통카드발행사ID',
       '총이용객수', '사용자구분', '교통수단CD1', '교통수단CD2',
       '교통수단CD3', '교통수단CD4', '교통수단CD5', '버스노선ID1',
       '버스노선ID2', '버스노선ID3', '버스노선ID4', '버스노선ID5',
       '차량ID1', '차량ID2', '차량ID3', '차량ID4',
       '차량ID5', '총통행거리', '총탑승시간', '총소요시간',
       '승차일시1', '승차일시2', '승차일시3', '승차일시4',
       '승차일시5', '하차일시1', '하차일시2', '하차일시3',
       '하차일시4', '하차일시5', '최초승차일시', '최종하차일시',
       '승차역ID1', '승차역ID2', '승차역ID3', '승차역ID4',
       '승차역ID5', '하차역ID1', '하차역ID2', '하차역ID3',
       '하차역ID4', '하차역ID5', '최초승차역ID', '최종하차역ID',
       '총이용금액', '수집건수', '트립체인완료코드']

In [3]:
df_usage1=tripChain[['버스노선ID1', '승차역ID1']]
df_usage1 = df_usage1.rename(columns={'버스노선ID1' : '노선ID', '승차역ID1' : '표준정류장ID'})

df_usage2=tripChain[['버스노선ID2', '승차역ID2']]
df_usage2 = df_usage2.rename(columns={'버스노선ID2' : '노선ID', '승차역ID2' : '표준정류장ID'})

df_usage3=tripChain[['버스노선ID3', '승차역ID3']]
df_usage3 = df_usage3.rename(columns={'버스노선ID3' : '노선ID', '승차역ID3' : '표준정류장ID'})

df_usage4=tripChain[['버스노선ID4', '승차역ID4']]
df_usage4 = df_usage4.rename(columns={'버스노선ID4' : '노선ID', '승차역ID4' : '표준정류장ID'})

df_usage5=tripChain[['버스노선ID5', '승차역ID5']]
df_usage5 = df_usage5.rename(columns={'버스노선ID5' : '노선ID', '승차역ID5' : '표준정류장ID'})

df_usage = pd.concat([df_usage1, df_usage2, df_usage3, df_usage4, df_usage5])
df_usage

               노선ID    표준정류장ID
0        41002045.0  4116828.0
1        41031040.0  4117280.0
2        41031121.0  4199619.0
3        41031013.0  4108130.0
4        41020001.0  4100122.0
...             ...        ...
1048570         NaN        NaN
1048571         NaN        NaN
1048572         NaN        NaN
1048573         NaN        NaN
1048574         NaN        NaN

[5242875 rows x 2 columns]

In [4]:
df_usage.drop_duplicates(subset = ['노선ID', '표준정류장ID'], keep = 'first', inplace = True) 
df_usage

               노선ID    표준정류장ID
0        41002045.0  4116828.0
1        41031040.0  4117280.0
2        41031121.0  4199619.0
3        41031013.0  4108130.0
4        41020001.0  4100122.0
...             ...        ...
985169   11110956.0        NaN
985205   41326003.0        NaN
1006793  41006251.0        NaN
1012626  11110970.0        NaN
1048192  41040030.0        NaN

[41096 rows x 2 columns]

In [5]:
df_usage = df_usage.dropna()
df_usage

               노선ID    표준정류장ID
0        41002045.0  4116828.0
1        41031040.0  4117280.0
2        41031121.0  4199619.0
3        41031013.0  4108130.0
4        41020001.0  4100122.0
...             ...        ...
1047210  41039002.0  4111954.0
1047303  11110999.0  9002133.0
1047812  11110374.0  9034299.0
1048067  41006328.0  4111693.0
1048207  28030014.0  2801439.0

[39036 rows x 2 columns]

In [6]:
time_table = pd.DataFrame([7,8,9,17,18,19])
time_table

    0
0   7
1   8
2   9
3  17
4  18
5  19

In [7]:
df_usage['key'] = 0
time_table['key'] = 0

df_usage = pd.merge(df_usage, time_table, how='outer', left_on='key', right_on='key')
df_usage

c:\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

              노선ID    표준정류장ID  key   0
0       41002045.0  4116828.0    0   7
1       41002045.0  4116828.0    0   8
2       41002045.0  4116828.0    0   9
3       41002045.0  4116828.0    0  17
4       41002045.0  4116828.0    0  18
...            ...        ...  ...  ..
234211  28030014.0  2801439.0    0   8
234212  28030014.0  2801439.0    0   9
234213  28030014.0  2801439.0    0  17
234214  28030014.0  2801439.0    0  18
234215  28030014.0  2801439.0    0  19

[234216 rows x 4 columns]

In [8]:
df_usage = df_usage.drop('key', axis=1)
df_usage

              노선ID    표준정류장ID   0
0       41002045.0  4116828.0   7
1       41002045.0  4116828.0   8
2       41002045.0  4116828.0   9
3       41002045.0  4116828.0  17
4       41002045.0  4116828.0  18
...            ...        ...  ..
234211  28030014.0  2801439.0   8
234212  28030014.0  2801439.0   9
234213  28030014.0  2801439.0  17
234214  28030014.0  2801439.0  18
234215  28030014.0  2801439.0  19

[234216 rows x 3 columns]

In [9]:
import numpy as np
df_usage = df_usage.rename(columns={0: '시간대'})
df_usage['승차'] = 0
df_usage['하차'] = 0
df_usage['환승'] = 0
df_usage

              노선ID    표준정류장ID  시간대  승차  하차  환승
0       41002045.0  4116828.0    7   0   0   0
1       41002045.0  4116828.0    8   0   0   0
2       41002045.0  4116828.0    9   0   0   0
3       41002045.0  4116828.0   17   0   0   0
4       41002045.0  4116828.0   18   0   0   0
...            ...        ...  ...  ..  ..  ..
234211  28030014.0  2801439.0    8   0   0   0
234212  28030014.0  2801439.0    9   0   0   0
234213  28030014.0  2801439.0   17   0   0   0
234214  28030014.0  2801439.0   18   0   0   0
234215  28030014.0  2801439.0   19   0   0   0

[234216 rows x 6 columns]

In [10]:
df_usage['시간대'] = df_usage['시간대'].astype(str)

In [11]:
tripChain.columns

Index(['암호화카드번호', '트랜잭션ID', '환승횟수', '교통카드발행사ID', '총이용객수', '사용자구분', '교통수단CD1',
       '교통수단CD2', '교통수단CD3', '교통수단CD4', '교통수단CD5', '버스노선ID1', '버스노선ID2',
       '버스노선ID3', '버스노선ID4', '버스노선ID5', '차량ID1', '차량ID2', '차량ID3', '차량ID4',
       '차량ID5', '총통행거리', '총탑승시간', '총소요시간', '승차일시1', '승차일시2', '승차일시3', '승차일시4',
       '승차일시5', '하차일시1', '하차일시2', '하차일시3', '하차일시4', '하차일시5', '최초승차일시',
       '최종하차일시', '승차역ID1', '승차역ID2', '승차역ID3', '승차역ID4', '승차역ID5', '하차역ID1',
       '하차역ID2', '하차역ID3', '하차역ID4', '하차역ID5', '최초승차역ID', '최종하차역ID', '총이용금액',
       '수집건수', '트립체인완료코드'],
      dtype='object')

In [12]:
tripChain['승차시간1'] = tripChain.승차일시1.astype(str)
tripChain['승차시간1'] = tripChain.승차시간1.str.slice(8, 10)

tripChain['승차시간2'] = tripChain.승차일시2.astype(str)
tripChain['승차시간2'] = tripChain.승차시간2.str.slice(8, 10)

tripChain['승차시간3'] = tripChain.승차일시3.astype(str)
tripChain['승차시간3'] = tripChain.승차시간3.str.slice(8, 10)

tripChain['승차시간4'] = tripChain.승차일시4.astype(str)
tripChain['승차시간4'] = tripChain.승차시간4.str.slice(8, 10)

tripChain['승차시간5'] = tripChain.승차일시5.astype(str)
tripChain['승차시간5'] = tripChain.승차시간5.str.slice(8, 10)

tripChain['하차시간1'] = tripChain.하차일시1.astype(str)
tripChain['하차시간1'] = tripChain.하차시간1.str.slice(8, 10)

tripChain['하차시간2'] = tripChain.하차일시2.astype(str)
tripChain['하차시간2'] = tripChain.하차시간2.str.slice(8, 10)

tripChain['하차시간3'] = tripChain.하차일시3.astype(str)
tripChain['하차시간3'] = tripChain.하차시간3.str.slice(8, 10)

tripChain['하차시간4'] = tripChain.하차일시4.astype(str)
tripChain['하차시간4'] = tripChain.하차시간4.str.slice(8, 10)

tripChain['하차시간5'] = tripChain.하차일시5.astype(str)
tripChain['하차시간5'] = tripChain.하차시간5.str.slice(8, 10)

In [13]:
len(tripChain)

1048575

In [14]:
chultaegeun = ['07', '08', '09', '17', '18', '19']

for index, row in tripChain[0:10001].iterrows():
    if(row['승차시간1'] not in chultaegeun):
        tripChain.drop(index, inplace=True)

In [15]:
tripChain.to_csv('trip_chain_dropped.csv', sep=',')

In [16]:
for index, row in tripChain[10001:30001].iterrows():
    if(row['승차시간1'] not in chultaegeun):
        tripChain.drop(index, inplace=True)
        
tripChain.to_csv('trip_chain_dropped.csv', sep=',')

In [17]:
for index, row in tripChain[30001:60001].iterrows():
    if(row['승차시간1'] not in chultaegeun):
        tripChain.drop(index, inplace=True)
        
tripChain.to_csv('trip_chain_dropped.csv', sep=',')

KeyboardInterrupt:

In [ ]:
for index, row in tripChain[60001:120001].iterrows():
    if(row['승차시간1'] not in chultaegeun):
        tripChain.drop(index, inplace=True)
        
tripChain.to_csv('trip_chain_dropped.csv', sep=',')

In [ ]:
for index, row in tripChain[120001:300001].iterrows():
    if(row['승차시간1'] not in chultaegeun):
        tripChain.drop(index, inplace=True)
        
tripChain.to_csv('trip_chain_dropped.csv', sep=',')

In [ ]:
for index, row in tripChain[300001:600001].iterrows():
    if(row['승차시간1'] not in chultaegeun):
        tripChain.drop(index, inplace=True)
        
tripChain.to_csv('trip_chain_dropped.csv', sep=',')

In [ ]:
for index, row in tripChain[600001:900001].iterrows():
    if(row['승차시간1'] not in chultaegeun):
        tripChain.drop(index, inplace=True)
        
tripChain.to_csv('trip_chain_dropped.csv', sep=',')

In [ ]:
for index, row in tripChain[900001:1048575].iterrows():
    if(row['승차시간1'] not in chultaegeun):
        tripChain.drop(index, inplace=True)
        
tripChain.to_csv('trip_chain_dropped.csv', sep=',')