In [1]:
import pandas as pd

In [2]:
# tripChain 테이블에서 최초승차일시가 출퇴근 시간과 겹치는 데이터만 남기기위해 엑셀로 데이터 전처리 할게요

tripChain = pd.read_csv('./data/PJT001_TripChain.csv')

tripChain.columns=['암호화카드번호', '트랜잭션ID', '환승횟수', '교통카드발행사ID',
       '총이용객수', '사용자구분', '교통수단CD1', '교통수단CD2',
       '교통수단CD3', '교통수단CD4', '교통수단CD5', '버스노선ID1',
       '버스노선ID2', '버스노선ID3', '버스노선ID4', '버스노선ID5',
       '차량ID1', '차량ID2', '차량ID3', '차량ID4',
       '차량ID5', '총통행거리', '총탑승시간', '총소요시간',
       '승차일시1', '승차일시2', '승차일시3', '승차일시4',
       '승차일시5', '하차일시1', '하차일시2', '하차일시3',
       '하차일시4', '하차일시5', '최초승차일시', '최종하차일시',
       '승차역ID1', '승차역ID2', '승차역ID3', '승차역ID4',
       '승차역ID5', '하차역ID1', '하차역ID2', '하차역ID3',
       '하차역ID4', '하차역ID5', '최초승차역ID', '최종하차역ID',
       '총이용금액', '수집건수', '트립체인완료코드']

tripChain['승차시간1'] = tripChain.승차일시1.astype(str)
tripChain['승차시간1'] = tripChain.승차시간1.str.slice(8, 10)

tripChain['승차시간2'] = tripChain.승차일시2.astype(str)
tripChain['승차시간2'] = tripChain.승차시간2.str.slice(8, 10)

tripChain['승차시간3'] = tripChain.승차일시3.astype(str)
tripChain['승차시간3'] = tripChain.승차시간3.str.slice(8, 10)

tripChain['승차시간4'] = tripChain.승차일시4.astype(str)
tripChain['승차시간4'] = tripChain.승차시간4.str.slice(8, 10)

tripChain['승차시간5'] = tripChain.승차일시5.astype(str)
tripChain['승차시간5'] = tripChain.승차시간5.str.slice(8, 10)

tripChain['하차시간1'] = tripChain.하차일시1.astype(str)
tripChain['하차시간1'] = tripChain.하차시간1.str.slice(8, 10)

tripChain['하차시간2'] = tripChain.하차일시2.astype(str)
tripChain['하차시간2'] = tripChain.하차시간2.str.slice(8, 10)

tripChain['하차시간3'] = tripChain.하차일시3.astype(str)
tripChain['하차시간3'] = tripChain.하차시간3.str.slice(8, 10)

tripChain['하차시간4'] = tripChain.하차일시4.astype(str)
tripChain['하차시간4'] = tripChain.하차시간4.str.slice(8, 10)

tripChain['하차시간5'] = tripChain.하차일시5.astype(str)
tripChain['하차시간5'] = tripChain.하차시간5.str.slice(8, 10)


tripChain = tripChain.drop(['암호화카드번호', '트랜잭션ID', '환승횟수', '교통카드발행사ID', '총이용객수',
                             '사용자구분', '교통수단CD1', '교통수단CD2', '교통수단CD3', '교통수단CD4', 
                             '승차일시1', '승차일시2', '승차일시3', '승차일시4','승차일시5', '하차일시1', 
                             '하차일시2', '하차일시3', '하차일시4', '하차일시5',
                             '교통수단CD5', '차량ID1', '차량ID2', '차량ID3', '차량ID4', '차량ID5', 
                             '총통행거리', '총탑승시간', '총소요시간', '최초승차일시','최종하차일시', '총이용금액',
                             '수집건수', '트립체인완료코드'], axis=1)
    
tripChain = tripChain.dropna(subset=['승차시간1'])
tripChain.to_csv('tripChain_by_time.csv', sep=',')

In [3]:
df_usage1=tripChain[['버스노선ID1', '승차역ID1']]
df_usage1 = df_usage1.rename(columns={'버스노선ID1' : '노선ID', '승차역ID1' : '표준정류장ID'})

df_usage2=tripChain[['버스노선ID2', '승차역ID2']]
df_usage2 = df_usage2.rename(columns={'버스노선ID2' : '노선ID', '승차역ID2' : '표준정류장ID'})

df_usage3=tripChain[['버스노선ID3', '승차역ID3']]
df_usage3 = df_usage3.rename(columns={'버스노선ID3' : '노선ID', '승차역ID3' : '표준정류장ID'})

df_usage4=tripChain[['버스노선ID4', '승차역ID4']]
df_usage4 = df_usage4.rename(columns={'버스노선ID4' : '노선ID', '승차역ID4' : '표준정류장ID'})

df_usage5=tripChain[['버스노선ID5', '승차역ID5']]
df_usage5 = df_usage5.rename(columns={'버스노선ID5' : '노선ID', '승차역ID5' : '표준정류장ID'})

df_usage = pd.concat([df_usage1, df_usage2, df_usage3, df_usage4, df_usage5])
df_usage

               노선ID    표준정류장ID
0        41002045.0  4116828.0
1        41031040.0  4117280.0
2        41031121.0  4199619.0
3        41031013.0  4108130.0
4        41020001.0  4100122.0
...             ...        ...
1048570         NaN        NaN
1048571         NaN        NaN
1048572         NaN        NaN
1048573         NaN        NaN
1048574         NaN        NaN

[5242875 rows x 2 columns]

In [4]:
df_usage.drop_duplicates(subset = ['노선ID', '표준정류장ID'], keep = 'first', inplace = True) 
df_usage

               노선ID    표준정류장ID
0        41002045.0  4116828.0
1        41031040.0  4117280.0
2        41031121.0  4199619.0
3        41031013.0  4108130.0
4        41020001.0  4100122.0
...             ...        ...
985169   11110956.0        NaN
985205   41326003.0        NaN
1006793  41006251.0        NaN
1012626  11110970.0        NaN
1048192  41040030.0        NaN

[41096 rows x 2 columns]

In [5]:
df_usage = df_usage.dropna()
df_usage

               노선ID    표준정류장ID
0        41002045.0  4116828.0
1        41031040.0  4117280.0
2        41031121.0  4199619.0
3        41031013.0  4108130.0
4        41020001.0  4100122.0
...             ...        ...
1047210  41039002.0  4111954.0
1047303  11110999.0  9002133.0
1047812  11110374.0  9034299.0
1048067  41006328.0  4111693.0
1048207  28030014.0  2801439.0

[39036 rows x 2 columns]

In [6]:
#출근시간 오전 7시 ~ 9시
#퇴근시간 오후 5시 ~ 7시
#사이의 데이터만 볼게요

time_table = pd.DataFrame([7, 8, 9, 17, 18, 19])
time_table

    0
0   7
1   8
2   9
3  17
4  18
5  19

In [7]:
df_usage['key'] = 0
time_table['key'] = 0

df_usage = pd.merge(df_usage, time_table, how='outer', left_on='key', right_on='key')
df_usage

c:\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

              노선ID    표준정류장ID  key   0
0       41002045.0  4116828.0    0   7
1       41002045.0  4116828.0    0   8
2       41002045.0  4116828.0    0   9
3       41002045.0  4116828.0    0  17
4       41002045.0  4116828.0    0  18
...            ...        ...  ...  ..
234211  28030014.0  2801439.0    0   8
234212  28030014.0  2801439.0    0   9
234213  28030014.0  2801439.0    0  17
234214  28030014.0  2801439.0    0  18
234215  28030014.0  2801439.0    0  19

[234216 rows x 4 columns]

In [8]:
df_usage = df_usage.drop('key', axis=1)
df_usage

              노선ID    표준정류장ID   0
0       41002045.0  4116828.0   7
1       41002045.0  4116828.0   8
2       41002045.0  4116828.0   9
3       41002045.0  4116828.0  17
4       41002045.0  4116828.0  18
...            ...        ...  ..
234211  28030014.0  2801439.0   8
234212  28030014.0  2801439.0   9
234213  28030014.0  2801439.0  17
234214  28030014.0  2801439.0  18
234215  28030014.0  2801439.0  19

[234216 rows x 3 columns]

In [9]:
import numpy as np
df_usage = df_usage.rename(columns={0: '시간대'})
df_usage['시간대'] = df_usage['시간대'].astype(str)
df_usage['승차'] = 0
df_usage['하차'] = 0
df_usage['환승'] = 0
df_usage

              노선ID    표준정류장ID 시간대  승차  하차  환승
0       41002045.0  4116828.0   7   0   0   0
1       41002045.0  4116828.0   8   0   0   0
2       41002045.0  4116828.0   9   0   0   0
3       41002045.0  4116828.0  17   0   0   0
4       41002045.0  4116828.0  18   0   0   0
...            ...        ...  ..  ..  ..  ..
234211  28030014.0  2801439.0   8   0   0   0
234212  28030014.0  2801439.0   9   0   0   0
234213  28030014.0  2801439.0  17   0   0   0
234214  28030014.0  2801439.0  18   0   0   0
234215  28030014.0  2801439.0  19   0   0   0

[234216 rows x 6 columns]

In [10]:
# 출퇴근 시간 사이의 데이터만 수작업으로 뽑은 테이블을 불러올게요
tripChain = pd.read_csv('./data/tripChain_by_time_removed.csv')
tripChain

,Unnamed: 0,버스노선ID1,버스노선ID2,버스노선ID3,버스노선ID4,버스노선ID5,승차역ID1,승차역ID2,승차역ID3,승차역ID4,...,승차시간1,승차시간2,승차시간3,승차시간4,승차시간5,하차시간1,하차시간2,하차시간3,하차시간4,하차시간5
0,891139,41036102.0,NaN,NaN,NaN,NaN,4116902,NaN,NaN,NaN,...,7,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN
1,891140,41020001.0,NaN,NaN,NaN,NaN,4100127,NaN,NaN,NaN,...,8,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN
2,891141,41031019.0,41027008.0,NaN,NaN,NaN,4108052,4122215.0,NaN,NaN,...,18,19.0,NaN,NaN,NaN,18.0,19.0,NaN,NaN,NaN
3,891143,41027009.0,NaN,NaN,NaN,NaN,4196993,NaN,NaN,NaN,...,19,NaN,NaN,NaN,NaN,19.0,NaN,NaN,NaN,NaN
4,891144,41002046.0,NaN,NaN,NaN,NaN,4135014,NaN,NaN,NaN,...,7,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN
5,891152,41036108.0,NaN,NaN,NaN,NaN,4108026,NaN,NaN,NaN,...,17,NaN,NaN,NaN,NaN,17.0,NaN,NaN,NaN,NaN
6,891157,41021102.0,NaN,41061027.0,NaN,NaN,4103301,1704.0,4108044.0,NaN,...,18,18.0,19.0,NaN,NaN,18.0,19.0,20.0,NaN,NaN
7,891158,41031040.0,NaN,NaN,NaN,NaN,4108026,NaN,NaN,NaN,...,18,NaN,NaN,NaN,NaN,18.0,NaN,NaN,NaN,NaN
8,891159,41031019.0,41027004.0,NaN,NaN,NaN,4108158,4122215.0,NaN,NaN,...,18,18.0,NaN,NaN,NaN,18.0,18.0,NaN,NaN,NaN
9,891160,41036113.0,NaN,NaN,NaN,NaN,4160358,NaN,NaN,NaN,...,17,NaN,NaN,NaN,NaN,18.0,NaN,NaN,NaN,NaN
10,891164,41002044.0,NaN,NaN,NaN,NaN,4111816,NaN,NaN,NaN,...,9,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN
11,891172,NaN,41067012.0,NaN,NaN,NaN,1702,4100042.0,NaN,NaN,...,18,19.0,NaN,NaN,NaN,19.0,20.0,NaN,NaN,NaN
12,891175,41002045.0,NaN,NaN,NaN,NaN,4150142,NaN,NaN,NaN,...,17,NaN,NaN,NaN,NaN,17.0,NaN,NaN,NaN,NaN
13,891181,41074057.0,NaN,NaN,NaN,NaN,4195391,NaN,NaN,NaN,...,7,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN
14,891182,41074057.0,NaN,NaN,NaN,NaN,4197425,NaN,NaN,NaN,...,18,NaN,NaN,NaN,NaN,18.0,NaN,NaN,NaN,NaN
15,891184,41031125.0,NaN,NaN,NaN,NaN,4117044,4318.0,NaN,NaN,...,8,9.0,NaN,NaN,NaN,9.0,9.0,NaN,NaN,NaN
16,891186,41031024.0,NaN,NaN,NaN,NaN,4117049,NaN,NaN,NaN,...,9,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN
17,891187,41031020.0,41031002.0,NaN,NaN,NaN,4108052,4107929.0,NaN,NaN,...,19,19.0,NaN,NaN,NaN,19.0,20.0,NaN,NaN,NaN
18,891192,41074061.0,NaN,NaN,NaN,NaN,4130514,NaN,NaN,NaN,...,17,NaN,NaN,NaN,NaN,17.0,NaN,NaN,NaN,NaN
19,891193,41075017.0,NaN,41012101.0,NaN,NaN,4100048,1716.0,4117037.0,NaN,...,8,8.0,8.0,NaN,NaN,8.0,8.0,9.0,NaN,NaN
20,891197,41419009.0,41002044.0,NaN,NaN,NaN,4111741,4111753.0,NaN,NaN,...,9,9.0,NaN,NaN,NaN,9.0,9.0,NaN,NaN,NaN
21,891198,41002045.0,NaN,NaN,NaN,NaN,4150142,NaN,NaN,NaN,...,18,NaN,NaN,NaN,NaN,18.0,NaN,NaN,NaN,NaN
22,891201,NaN,41008148.0,NaN,NaN,NaN,1808,4117183.0,NaN,NaN,...,8,9.0,NaN,NaN,NaN,9.0,10.0,NaN,NaN,NaN
23,891202,41008170.0,NaN,NaN,NaN,NaN,4199074,1713.0,NaN,NaN,...,19,19.0,NaN,NaN,NaN,NaN,21.0,NaN,NaN,NaN
24,891203,41006407.0,NaN,NaN,NaN,NaN,4119246,4501.0,NaN,NaN,...,9,10.0,NaN,NaN,NaN,10.0,10.0,NaN,NaN,NaN
25,891204,41002046.0,41031018.0,41002044.0,NaN,NaN,4107930,4108071.0,4100117.0,NaN,...,19,20.0,21.0,NaN,NaN,19.0,20.0,21.0,NaN,NaN
26,891218,NaN,41003904.0,41075031.0,NaN,NaN,211,4108431.0,4195716.0,NaN,...,17,17.0,19.0,NaN,NaN,17.0,19.0,19.0,NaN,NaN
27,891221,41021030.0,NaN,41317004.0,41067135.0,NaN,4100057,1710.0,4151651.0,NaN,...,9,10.0,10.0,10.0,NaN,10.0,10.0,10.0,11.0,NaN
28,891222,41324002.0,41086005.0,11110659.0,11110663.0,NaN,4170253,4108015.0,9012723.0,NaN,...,7,7.0,8.0,8.0,NaN,7.0,8.0,8.0,8.0,NaN
29,891223,41086004.0,41067135.0,NaN,NaN,NaN,4116517,4121024.0,NaN,NaN,...,18,19.0,NaN,NaN,NaN,19.0,19.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463594,699927,41067012.0,41031108.0,41036022.0,NaN,NaN,4170343,4108045.0,4117242.0,NaN,...,8,8.0,9.0,NaN,NaN,8.0,9.0,10.0,NaN,NaN
463595,699934,41074077.0,NaN,NaN,NaN,NaN,4130519,NaN,NaN,NaN,...,8,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN
463596,699935,41036108.0,41036111.0,41067131.0,NaN,NaN,4108221,4108035.0,4130121.0,NaN,...,7,7.0,7.0,NaN,NaN,7.0,7.0,7.0,NaN,NaN
463597,699938,41002045.0,NaN,NaN,NaN,NaN,4179386,NaN,NaN,NaN,...,18,NaN,NaN,NaN,NaN,18.0,NaN,NaN,NaN,NaN
463598,699941,41031030.0,41201001.0,NaN,NaN,NaN,4117056,4108071.0,NaN,NaN,...,8,9.0,NaN,NaN,NaN,8.0,9.0,NaN,NaN,NaN
463599,699942,41031013.0,NaN,NaN,NaN,NaN,4117055,NaN,NaN,NaN,...,19,NaN,NaN,NaN,NaN,20.0,NaN,NaN,NaN,NaN
463600,699944,41036131.0,NaN,NaN,NaN,NaN,4108010,NaN,NaN,NaN,...,7,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN
463601,699945,41036132.0,NaN,NaN,NaN,NaN,4108028,NaN,NaN,NaN,...,18,NaN,NaN,NaN,NaN,18.0,NaN,NaN,NaN,NaN
463602,699947,41204004.0,41031121.0,NaN,NaN,NaN,4116362,4102825.0,NaN,NaN,...,8,8.0,NaN,NaN,NaN,8.0,8.0,NaN,NaN,NaN
463603,699949,41031110.0,NaN,NaN,NaN,NaN,4116362,NaN,NaN,NaN,...,17,NaN,NaN,NaN,NaN,17.0,NaN,NaN,NaN,NaN
463604,699951,41031109.0,NaN,NaN,NaN,NaN,4108229,NaN,NaN,NaN,...,18,NaN,NaN,NaN,NaN,18.0,NaN,NaN,NaN,NaN
463605,699954,41002044.0,NaN,NaN,NaN,NaN,4102825,1713.0,NaN,NaN,...,7,7.0,NaN,NaN,NaN,7.0,8.0,NaN,NaN,NaN
463606,699955,41002045.0,NaN,NaN,NaN,NaN,4100608,NaN,NaN,NaN,...,9,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN
463607,699956,41020001.0,NaN,NaN,NaN,NaN,4100084,NaN,NaN,NaN,...,9,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN
463608,699957,41002045.0,NaN,NaN,NaN,NaN,4110130,NaN,NaN,NaN,...,9,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN
463609,699959,41036111.0,NaN,NaN,NaN,NaN,4170977,NaN,NaN,NaN,...,18,NaN,NaN,NaN,NaN,18.0,NaN,NaN,NaN,NaN
463610,699961,41036102.0,NaN,NaN,NaN,NaN,4108220,NaN,NaN,NaN,...,7,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN
463611,699964,41489008.0,41067012.0,NaN,NaN,NaN,4121991,4130412.0,NaN,NaN,...,7,7.0,NaN,NaN,NaN,7.0,7.0,NaN,NaN,NaN
463612,699965,41067012.0,41086011.0,41075029.0,NaN,NaN,4176975,4130401.0,4121994.0,NaN,...,17,18.0,18.0,NaN,NaN,18.0,18.0,18.0,NaN,NaN
463613,699966,41086008.0,NaN,NaN,NaN,NaN,4102833,NaN,NaN,NaN,...,8,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN
463614,699968,41067109.0,NaN,NaN,NaN,NaN,4130055,NaN,NaN,NaN,...,17,NaN,NaN,NaN,NaN,17.0,NaN,NaN,NaN,NaN
463615,699971,41002045.0,NaN,NaN,NaN,NaN,4116802,NaN,NaN,NaN,...,7,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN
463616,699972,41002046.0,NaN,NaN,NaN,NaN,4110254,NaN,NaN,NaN,...,17,NaN,NaN,NaN,NaN,17.0,NaN,NaN,NaN,NaN
463617,699978,41031108.0,NaN,NaN,NaN,NaN,4130034,NaN,NaN,NaN,...,19,NaN,NaN,NaN,NaN,19.0,NaN,NaN,NaN,NaN
463618,699984,41002044.0,41002090.0,41423008.0,NaN,NaN,4116709,4150553.0,4111735.0,NaN,...,7,8.0,8.0,NaN,NaN,8.0,8.0,8.0,NaN,NaN
463619,699985,41425002.0,41002090.0,41002044.0,NaN,NaN,4111623,4111736.0,4111900.0,NaN,...,18,18.0,18.0,NaN,NaN,18.0,18.0,19.0,NaN,NaN
463620,699986,41036131.0,NaN,NaN,NaN,NaN,4117235,NaN,NaN,NaN,...,18,NaN,NaN,NaN,NaN,18.0,NaN,NaN,NaN,NaN
463621,699991,41067005.0,NaN,NaN,NaN,NaN,4198644,NaN,NaN,NaN,...,8,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN
463622,699992,41067012.0,NaN,NaN,NaN,NaN,4108208,NaN,NaN,NaN,...,18,NaN,NaN,NaN,NaN,18.0,NaN,NaN,NaN,NaN
463623,699994,41036032.0,41031049.0,41003011.0,NaN,NaN,4116952,4108216.0,4116882.0,NaN,...,7,7.0,7.0,NaN,NaN,7.0,7.0,8.0,NaN,NaN

In [14]:
tripChain['승차시간1'] = tripChain.승차시간1.astype(str)
tripChain['승차시간2'] = tripChain.승차시간2.astype(str)
tripChain['승차시간3'] = tripChain.승차시간3.astype(str)
tripChain['승차시간4'] = tripChain.승차시간4.astype(str)
tripChain['승차시간5'] = tripChain.승차시간5.astype(str)

tripChain['하차시간1'] = tripChain.하차시간1.astype(str)
tripChain['하차시간2'] = tripChain.하차시간2.astype(str)
tripChain['하차시간3'] = tripChain.하차시간3.astype(str)
tripChain['하차시간4'] = tripChain.하차시간4.astype(str)
tripChain['하차시간5'] = tripChain.하차시간5.astype(str)

In [15]:
# 노선ID, 정류장ID, 시간대 별로 승차, 환승, 하차 값을 ++ 하는 메서드에요

def count(route_id, station_id, time, usage_type):
    
    time = str(int(float(time)))
    
    if(time[0:1] == '0'):
        time = time[1:2]
        
    index = df_usage.index[(df_usage['노선ID'] == route_id)
                     & (df_usage['표준정류장ID'] == station_id)
                     & (df_usage['시간대'] == time)]

    df_usage.set_value(index, usage_type, df_usage.loc[index][usage_type]+1 )

In [17]:
# df_usage: 어떤 정류장에서 어떤 노선을 타고 승/하차 or 환승 하였는지 보여주는 테이블

# # 승차역1번: 432753개의 데이터중 150000개 열의 데이터만 세아릴게요
# tripChain1 = tripChain.dropna(subset=['버스노선ID1'])
# tripChain1 = tripChain1.dropna(subset=['승차역ID1'])
# tripChain1 = tripChain1.dropna(subset=['승차시간1'])

# for index, row in tripChain1[0:150000].iterrows():
#     count(row['버스노선ID1'], row['승차역ID1'], row['승차시간1'], "승차")
    
# # 승차역2번: 147427개의 데이터중 147427개 열의 데이터만 세아릴게요
# tripChain2 = tripChain.dropna(subset=['버스노선ID2'])
# tripChain2 = tripChain2.dropna(subset=['승차역ID2'])
# tripChain2 = tripChain2.dropna(subset=['승차시간2'])

# for index, row in tripChain2.iterrows():
#     count(row['버스노선ID2'], row['승차역ID2'], row['승차시간2'], "환승")
    
# # 승차역3번: 40275개의 데이터중 40275개 열의 데이터만 세아릴게요
# tripChain3 = tripChain.dropna(subset=['버스노선ID3'])
# tripChain3 = tripChain3.dropna(subset=['승차역ID3'])
# tripChain3 = tripChain3.dropna(subset=['승차시간3'])

# for index, row in tripChain3.iterrows():
#     count(row['버스노선ID3'], row['승차역ID3'], row['승차시간3'], "환승")
    
# # 하차역4번: 5286개의 데이터중 5286개 열의 데이터만 세아릴게요
# tripChain9 = tripChain.dropna(subset=['버스노선ID4'])
# tripChain9 = tripChain9.dropna(subset=['하차역ID4'])
# tripChain9 = tripChain9.dropna(subset=['하차시간4'])

# for index, row in tripChain9.iterrows(): 
#     count(row['버스노선ID4'], row['하차역ID4'], row['하차시간4'], "하차")
    
# # 하차역5번: 910개의 데이터중 910개 열의 데이터만 세아릴게요
# tripChain10 = tripChain.dropna(subset=['버스노선ID5'])
# tripChain10 = tripChain10.dropna(subset=['하차역ID5'])
# tripChain10 = tripChain10.dropna(subset=['하차시간5'])

# for index, row in tripChain10.iterrows():  
#     count(row['버스노선ID5'], row['하차역ID5'], row['하차시간5'], "하차")
    
# # 최종하차역: 426781개의 데이터중 150000개 열의 데이터만 세아릴게요
# tripChain11 = tripChain.dropna(subset=['버스노선ID1'])
# tripChain11 = tripChain11.dropna(subset=['최종하차역ID'])
# tripChain11 = tripChain11.dropna(subset=['하차시간1'])

# for index, row in tripChain11.iterrows():
#     if (row['하차시간1'] == 'nan'):
#         tripChain11.drop(index, inplace=True)
        
# for index, row in tripChain11[0:150001].iterrows():
#     count(row['버스노선ID1'], row['최종하차역ID'], row['하차시간1'], "하차")
    
# df_usage.to_csv('df_usage.csv', sep=',')

In [27]:
df_usage = pd.read_csv('./df_usage.csv')
df_usage

        Unnamed: 0        노선ID    표준정류장ID  시간대  승차  하차  환승
0                0  41036102.0  4116902.0    7  18   0   0
1                1  41036102.0  4116902.0    8  18   0   0
2                2  41036102.0  4116902.0    9   7   0   0
3                3  41036102.0  4116902.0   17   8   0   0
4                4  41036102.0  4116902.0   18   3   2   0
...            ...         ...        ...  ...  ..  ..  ..
173791      173791  41283011.0  4107159.0    8   0   0   0
173792      173792  41283011.0  4107159.0    9   0   0   1
173793      173793  41283011.0  4107159.0   17   0   0   0
173794      173794  41283011.0  4107159.0   18   0   0   0
173795      173795  41283011.0  4107159.0   19   0   0   0

[173796 rows x 7 columns]

In [30]:
route_station_mapping = pd.read_csv('./data/PJT001_routestationmapping.csv')

In [31]:
# route-station 매핑테이블에 잘못된 column 이름 바로잡기

route_station_mapping.rename(columns = {'이비노선ID': '표준노선ID', '표준노선ID': '이비노선ID'}, inplace = True)
route_station_mapping

        구분     운수사명    운수사ID     표준노선ID    이비노선ID    노선명
0     경기시내    경원여객M  2805000  216000044  28050900  M6410
1     경기시내     강화운수  4100100  232000028  41001001      2
2     경기시내     강화운수  4100100  232000029  41001013     88
3     경기시내     강화운수  4100100  232000061  41001020   3000
4     경기시내     강화운수  4100100  232000067  41001024    388
...    ...      ...      ...        ...       ...    ...
2122  경기시내     서현운수  4108800  229000060  41088004    330
2123  경기시내     서현운수  4108800  229000063  41088005    850
2124  경기시내  코레일네트웍스  4108900  213000024  41089001   8507
2125  경기시내     신성교통  4109100  229000102  41091900  M7111
2126  경기시내     군포여객  4109400  225000004  41094001    100

[2127 rows x 6 columns]

In [33]:
df_usage.rename(columns={'노선ID': '이비노선ID'}, inplace=True)
df_usage = pd.merge(df_usage, route_station_mapping[['이비노선ID','표준노선ID', '노선명']], how ='left', left_on='이비노선ID', right_on='이비노선ID')
df_usage

        Unnamed: 0      이비노선ID    표준정류장ID  시간대  승차  하차  환승       표준노선ID  노선명
0                0  41036102.0  4116902.0    7  18   0   0  200000095.0    3
1                0  41036102.0  4116902.0    7  18   0   0  200000095.0    3
2                1  41036102.0  4116902.0    8  18   0   0  200000095.0    3
3                1  41036102.0  4116902.0    8  18   0   0  200000095.0    3
4                2  41036102.0  4116902.0    9   7   0   0  200000095.0    3
...            ...         ...        ...  ...  ..  ..  ..          ...  ...
181783      173791  41283011.0  4107159.0    8   0   0   0          NaN  NaN
181784      173792  41283011.0  4107159.0    9   0   0   1          NaN  NaN
181785      173793  41283011.0  4107159.0   17   0   0   0          NaN  NaN
181786      173794  41283011.0  4107159.0   18   0   0   0          NaN  NaN
181787      173795  41283011.0  4107159.0   19   0   0   0          NaN  NaN

[181788 rows x 9 columns]

In [34]:
df_usage.drop(['Unnamed: 0'], axis=1, inplace=True)
df_usage.drop_duplicates(subset =['이비노선ID', '표준정류장ID', '시간대'], keep = 'first', inplace = True) 
df_usage

            이비노선ID    표준정류장ID  시간대  승차  하차  환승       표준노선ID  노선명
0       41036102.0  4116902.0    7  18   0   0  200000095.0    3
2       41036102.0  4116902.0    8  18   0   0  200000095.0    3
4       41036102.0  4116902.0    9   7   0   0  200000095.0    3
6       41036102.0  4116902.0   17   8   0   0  200000095.0    3
8       41036102.0  4116902.0   18   3   2   0  200000095.0    3
...            ...        ...  ...  ..  ..  ..          ...  ...
181783  41283011.0  4107159.0    8   0   0   0          NaN  NaN
181784  41283011.0  4107159.0    9   0   0   1          NaN  NaN
181785  41283011.0  4107159.0   17   0   0   0          NaN  NaN
181786  41283011.0  4107159.0   18   0   0   0          NaN  NaN
181787  41283011.0  4107159.0   19   0   0   0          NaN  NaN

[173796 rows x 8 columns]

In [39]:
routeStationInfo = pd.read_csv('./data/PJT001_routestationinfo.csv')
routeStationInfo.drop(['seq', 'mobile_no'], axis=1, inplace=True)
routeStationInfo

       pr_station_id bus_line_no  bus_line_no_seq station_nm  station_id
0          228000018        10-4                1      용인터미널   228001552
1          228000018        10-4                2  용인터미널(경유)   277102443
2          228000018        10-4                3      포브스병원   228000443
3          228000018        10-4                4       제일교회   228000665
4          228000018        10-4                5     라이프아파트   228000664
...              ...         ...              ...        ...         ...
37826      241491011        38-1               63   신일해피트리후문   233002733
37827      241491011        38-1               64  기배동행정복지센터   233002726
37828      241491011        38-1               65     기안1통입구   233002959
37829      241491011        38-1               66       배양2리   233002717
37830      241491011        38-1               67       배양1동   233532650

[37831 rows x 5 columns]

In [37]:
stations = pd.read_csv('./data/PJT001_stations_table.csv')
stations

,표준정류장ID,시군명,정류소명,정류소영문명,정류소번호,중앙차로여부,관할관청,위치,WGS84위도,WGS84경도,모바일정류장ID,이비카드정류장ID
0,228003422,용인시,손골마을회관.국제학교,"Songol Community Center,",56443.0,노변정류장,경기도 용인시,NaN,37.342517,127.066817,56443.0,NaN
1,228003423,용인시,풀잎사랑,Pulipsarang,56444.0,노변정류장,경기도 용인시,NaN,37.341800,127.068983,56444.0,NaN
2,228003424,용인시,풀잎사랑,Pulipsarang,56445.0,노변정류장,경기도 용인시,NaN,37.341817,127.069083,56445.0,NaN
3,228003425,용인시,대성공정,Daesung Process,56446.0,노변정류장,경기도 용인시,NaN,37.339350,127.073067,56446.0,NaN
4,228003426,용인시,대성공정,Daesung Process,56447.0,노변정류장,경기도 용인시,NaN,37.339183,127.073400,56447.0,NaN
5,228003427,용인시,기응사,Gieungsa,56448.0,노변정류장,경기도 용인시,NaN,37.338267,127.075033,56448.0,NaN
6,228003428,용인시,기응사,Gieungsa,56449.0,노변정류장,경기도 용인시,NaN,37.338333,127.075067,56449.0,NaN
7,228003429,용인시,동천동용인한빛중학교,Dongcheon-dong Yongin Hanbit Middle School,56450.0,노변정류장,경기도 용인시,NaN,37.337900,127.084967,56450.0,NaN
8,228003430,용인시,서봉마을.노블랜드,"Seobong Maeul, Novel Land",56451.0,노변정류장,경기도 용인시,NaN,37.333083,127.052017,NaN,NaN
9,228003431,용인시,서봉마을.노블랜드,"Seobong Maeul, Noble Land",56452.0,노변정류장,경기도 용인시,NaN,37.333150,127.051900,NaN,NaN
10,228003432,용인시,삼성쉐르빌,Samsung Cherevil,56453.0,노변정류장,경기도 용인시,NaN,37.332950,127.053517,NaN,NaN
11,228003433,용인시,삼성쉐르빌,Samsung Cherevil,56454.0,노변정류장,경기도 용인시,NaN,37.332983,127.053600,NaN,NaN
12,228003434,용인시,신봉2리마을회관,Seobong Supermarket,56455.0,노변정류장,경기도 용인시,NaN,37.332683,127.054800,NaN,NaN
13,228003435,용인시,신봉2리마을회관,Seobong Supermarket,56456.0,노변정류장,경기도 용인시,NaN,37.332733,127.054950,NaN,NaN
14,228003436,용인시,서봉마을입구,Seobong Maeul,56457.0,노변정류장,경기도 용인시,NaN,37.332600,127.056650,NaN,NaN
15,228003437,용인시,서봉마을입구,Seobong Maeul,56458.0,노변정류장,경기도 용인시,NaN,37.332650,127.056733,NaN,NaN
16,228003442,용인시,신봉센트레빌6차,Sinbong Centreville Apartment 6-cha,56463.0,노변정류장,경기도 용인시,NaN,37.331600,127.064483,NaN,NaN
17,228003443,용인시,신봉센트레빌6차,Sinbong Centreville 6-cha,56464.0,노변정류장,경기도 용인시,NaN,37.331733,127.064617,56464.0,NaN
18,228003447,용인시,래미안이스트팰리스4단지,Raemian East Palace 4-danji,56468.0,노변정류장,경기도 용인시,NaN,37.336250,127.086833,56468.0,NaN
19,228003470,용인시,성우석재앞,Sungwoo Stone,56491.0,노변정류장,경기도 용인시,NaN,37.359983,127.063733,56491.0,NaN
20,228003481,용인시,동천동,Dongcheon-dong,56502.0,노변정류장,경기도 용인시,NaN,37.345850,127.092583,56502.0,NaN
21,228003482,용인시,동천동,Dongcheon-dong,56503.0,노변정류장,경기도 용인시,NaN,37.345967,127.092733,56503.0,NaN
22,228003483,용인시,동천초등학교,Dongcheon Elementary School,56504.0,노변정류장,경기도 용인시,NaN,37.344383,127.094500,NaN,NaN
23,228003484,용인시,동천초등학교,Dongcheon Elementary School,56505.0,노변정류장,경기도 용인시,NaN,37.344517,127.094650,NaN,NaN
24,228003485,용인시,남영골프장,Namyeong Golf Range,56506.0,노변정류장,경기도 용인시,NaN,37.343000,127.096467,56506.0,NaN
25,228003486,용인시,남영골프장,Namyeong Golf Range,56507.0,노변정류장,경기도 용인시,NaN,37.343100,127.096600,56507.0,NaN
26,229507470,파주시,봉서3리,NaN,NaN,NaN,NaN,NaN,37.853267,126.802200,NaN,NaN
27,228003487,용인시,동문5차아파트삼거리,Dongmun Apartment 5-cha Samgeori,56508.0,노변정류장,경기도 용인시,NaN,37.339600,127.096350,56508.0,NaN
28,228003490,용인시,산울마을,Sanul Maeul,56511.0,노변정류장,경기도 용인시,NaN,37.359117,127.048267,56511.0,NaN
29,228003503,용인시,죽전역,Jukjeon Station,56524.0,노변정류장,경기도 용인시,NaN,37.324167,127.106900,56524.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
38479,229900025,파주시,옥계동,Okgye-dong,31600.0,NaN,경기도 파주시,NaN,37.744533,126.873650,NaN,NaN
38480,229900026,파주시,옥계동,Okgye-dong,31601.0,NaN,경기도 파주시,NaN,37.744483,126.873433,NaN,NaN
38481,229900027,파주시,용미2리,Yongmi 2-ri,31584.0,NaN,경기도 파주시,NaN,37.746783,126.870667,NaN,NaN
38482,229900028,파주시,용미2리,Yongmi 2-ri,31585.0,NaN,경기도 파주시,NaN,37.746717,126.870650,NaN,NaN
38483,229900029,파주시,연대앞,Regiment,31586.0,NaN,경기도 파주시,NaN,37.748900,126.866000,NaN,NaN
38484,229900030,파주시,연대앞,Regiment,31587.0,NaN,경기도 파주시,NaN,37.748817,126.866000,NaN,NaN
38485,229900031,파주시,용미1리.한민고,"Yongmi 1-ri, Hanmin High School",31588.0,NaN,경기도 파주시,NaN,37.754700,126.861567,NaN,NaN
38486,229900032,파주시,용미1리.한민고,"Yongmi 1-ri, Hanmin High School",31589.0,NaN,경기도 파주시,NaN,37.754700,126.861683,NaN,NaN
38487,229900033,파주시,분수1리,Bunsu 1-ri,31590.0,노변정류장,경기도 파주시,NaN,37.764400,126.857967,NaN,NaN
38488,229900034,파주시,분수1리,Bunsu 1-ri,31591.0,노변정류장,경기도 파주시,NaN,37.764250,126.857917,NaN,NaN
38489,229900035,파주시,윤관장군묘,Tomb of General Yun Kwan,31592.0,노변정류장,경기도 파주시,NaN,37.767500,126.854983,NaN,NaN
38490,229900036,파주시,윤관장군묘,Tomb of General Yun Kwan,31579.0,노변정류장,경기도 파주시,NaN,37.767367,126.855067,NaN,NaN
38491,229900037,파주시,한국자원재생공사,Korea Resources Recovery & Reutilization Corpo...,31611.0,노변정류장,경기도 파주시,NaN,37.769583,126.851900,NaN,NaN
38492,229900038,파주시,한국자원재생공사,Korea Resources Recovery & Reutilization Corpo...,31578.0,노변정류장,경기도 파주시,NaN,37.769867,126.851317,NaN,NaN
38493,229900039,파주시,광탄행정복지센터,Gwangtan-myeon Office,31612.0,노변정류장,경기도 파주시,NaN,37.776017,126.850700,NaN,NaN
38494,229900040,파주시,광탄행정복지센터,Gwangtan-myeon Office,31577.0,노변정류장,경기도 파주시,NaN,37.776067,126.850583,NaN,NaN
38495,236001191,포천시,경기할인마트,Gyeonggi Discount Mart,40671.0,노변정류장,경기도 포천시,경기도 포천시 소흘읍,37.814267,127.161117,NaN,NaN
38496,236001193,포천시,유교3리마을회관앞,Yugyo 3-ri Community Center,41652.0,노변정류장,경기도 포천시,경기도 포천시 군내면,37.871400,127.198250,NaN,NaN
38497,236001194,포천시,유교1리.영신산업,"Yugyo 1-ri, Youngsin Industries",41654.0,노변정류장,경기도 포천시,경기도 포천시 군내면,37.870550,127.195233,NaN,NaN
38498,236001196,포천시,감암1리입구,Gamam 1-ri,41651.0,노변정류장,경기도 포천시,경기도 포천시 군내면,37.869600,127.187700,NaN,NaN
38499,236001198,포천시,가산슈퍼,Gasan Supermarket,40720.0,노변정류장,경기도 포천시,경기도 포천시 가산면,37.825067,127.180333,NaN,NaN
38500,236001199,포천시,벌말,Beolmal,40721.0,노변정류장,경기도 포천시,경기도 포천시 가산면,37.827467,127.169950,NaN,NaN
38501,228003375,용인시,현대1차후문,Hyunda 1-cha Back Gate,56396.0,노변정류장,경기도 용인시,NaN,37.325367,127.095650,56396.0,NaN
38502,228003379,용인시,한국전력.등산로입구,"KEPCO, Trail",56400.0,노변정류장,경기도 용인시,NaN,37.326033,127.061250,56400.0,NaN
38503,236001214,포천시,너베기입구,Neobegi,40673.0,노변정류장,경기도 포천시,경기도 포천시 가산면,37.832217,127.182733,40673.0,NaN
38504,228003381,용인시,현대빌리지,Hyundai Village,56402.0,노변정류장,경기도 용인시,NaN,37.326433,127.071317,56402.0,NaN
38505,228003382,용인시,현대빌리지,Hyundai Village,56403.0,노변정류장,경기도 용인시,NaN,37.326450,127.071100,56403.0,NaN
38506,236001229,포천시,평강식물원,Pyunggang Botanical Garden,40691.0,노변정류장,경기도 포천시,경기도 포천시 영북면,38.050650,127.306617,40691.0,NaN
38507,236001230,포천시,양문1리.영중면사무소,"Yangmun 1-ri, Yeongjung-myeon Office",40699.0,노변정류장,경기도 포천시,NaN,38.005517,127.245667,40699.0,NaN
38508,236001234,포천시,포천농협.하나로마트,"Pocheon Nonghyup, Hanaro Mart",40692.0,노변정류장,경기도 포천시,NaN,37.901217,127.206933,40692.0,NaN

In [42]:
routeStationInfo = pd.merge(routeStationInfo, stations[['WGS84위도', 'WGS84경도', '표준정류장ID']], how='left', left_on='station_id', right_on='표준정류장ID')
routeStationInfo.drop(['표준정류장ID'], axis= 1, inplace=True)
routeStationInfo

,pr_station_id,bus_line_no,bus_line_no_seq,station_nm,station_id,WGS84위도,WGS84경도
0,228000018,10-4,1,용인터미널,228001552,37.232783,127.210100
1,228000018,10-4,1,용인터미널,228001552,37.232783,127.210100
2,228000018,10-4,2,용인터미널(경유),277102443,37.235350,127.209033
3,228000018,10-4,3,포브스병원,228000443,37.235267,127.210617
4,228000018,10-4,4,제일교회,228000665,37.234300,127.213333
5,228000018,10-4,5,라이프아파트,228000664,37.231483,127.213767
6,228000018,10-4,6,송담대,228000663,37.228133,127.215267
7,228000018,10-4,7,기후변화체험교육센터.삼삼부락,228001508,37.223167,127.224067
8,228000018,10-4,8,삼삼부락마을회관,228000662,37.221133,127.226167
9,228000018,10-4,9,목동야목농원,228001509,37.218167,127.229717
10,228000018,10-4,10,예비군훈련장,228000661,37.216117,127.230517
11,228000018,10-4,11,별학,228000660,37.209367,127.234033
12,228000018,10-4,12,백마기도원,228000659,37.206883,127.237100
13,228000018,10-4,13,장재미,228001511,37.204950,127.240267
14,228000018,10-4,14,운학초등학교,228000658,37.202383,127.244833
15,228000018,10-4,15,엘에스시스템,228000657,37.200067,127.249150
16,228000018,10-4,16,예직,228000656,37.191900,127.257450
17,228000018,10-4,17,해곡동,228001718,37.188533,127.267867
18,228000018,10-4,18,별미,228001714,37.187483,127.270550
19,228000018,10-4,19,와우정사,228001514,37.188700,127.276717
20,228000018,10-4,20,곱등고개,228000654,37.181867,127.283100
21,228000018,10-4,21,용암,228001515,37.177550,127.295083
22,228000018,10-4,22,물구리,228000653,37.179167,127.300367
23,228000018,10-4,23,사암주유소,228001517,37.180733,127.305250
24,228000018,10-4,24,고당리,228001518,37.176000,127.308350
25,228000018,10-4,25,원삼,228001597,37.164733,127.310917
26,228000018,10-4,26,원삼초등학교,228000651,37.162583,127.315700
27,228000018,10-4,27,독성2리,228000650,37.159750,127.321650
28,228000018,10-4,28,두창7리,228000648,37.155483,127.337750
29,228000018,10-4,29,두창리,228000647,37.155667,127.341167
...,...,...,...,...,...,...,...
39427,241491011,38-1,38,신한에스빌아파트앞,233002098,37.208967,127.039517
39428,241491011,38-1,39,주공1.2단지,233000078,37.207967,127.040917
39429,241491011,38-1,40,주공4단지,233000087,37.208167,127.044500
39430,241491011,38-1,41,신창2차아파트,233000086,37.209683,127.047583
39431,241491011,38-1,42,안화고등학교,233002394,37.211433,127.047517
39432,241491011,38-1,43,안화초교.주공8.9단지,233000071,37.213300,127.046083
39433,241491011,38-1,44,중심상가,233000066,37.215150,127.043750
39434,241491011,38-1,45,롯데시네마,233002132,37.214483,127.042450
39435,241491011,38-1,46,진안동,233000671,37.213017,127.039300
39436,241491011,38-1,47,안용중학교.현충탑,233000670,37.205567,127.021917
39437,241491011,38-1,48,송산동입구,233000669,37.205850,127.017783
39438,241491011,38-1,49,안녕농협삼거리,233000604,37.205300,127.014250
39439,241491011,38-1,50,남수원현대아파트,233000603,37.207667,127.010517
39440,241491011,38-1,51,우남블루존.원광병원,233000602,37.209833,127.009233
39441,241491011,38-1,52,용주사,233000601,37.210517,127.004300
39442,241491011,38-1,53,안녕자원,233001130,37.209667,127.000467
39443,241491011,38-1,54,지킴이마을.타래치길,233001131,37.207000,126.993017
39444,241491011,38-1,55,융건릉,233000600,37.208050,126.988700
39445,241491011,38-1,56,안녕4통,233002234,37.212633,126.982783
39446,241491011,38-1,57,수원대학교,233000576,37.214167,126.979150
39447,241491011,38-1,58,와우2리,233000945,37.215983,126.976317
39448,241491011,38-1,59,와우농협앞,233001457,37.218000,126.974633
39449,241491011,38-1,60,보보스.롯데슈퍼,233002728,37.222250,126.974383
39450,241491011,38-1,61,기안중학교,233002729,37.224683,126.976783
39451,241491011,38-1,62,기안성당,233002731,37.224267,126.978150
39452,241491011,38-1,63,신일해피트리후문,233002733,37.222650,126.978983
39453,241491011,38-1,64,기배동행정복지센터,233002726,37.224000,126.983150
39454,241491011,38-1,65,기안1통입구,233002959,37.225683,126.986250
39455,241491011,38-1,66,배양2리,233002717,37.226833,126.992067
39456,241491011,38-1,67,배양1동,233532650,37.226783,126.997700

In [45]:
df_route_station = routeStationInfo
df_route_station.rename(columns={'pr_station_id': 'ROUTE_ID', 'bus_line_no':'ROUTE_NAME', 'bus_line_no_seq' : 'SEQ', 'station_id' : 'STATION_ID', 
                                'station_nm' : 'STATION_NM', 'WGS84위도':'MAP_LON','WGS84경도':'MAP_LAT' }, inplace=True)
df_route_station.drop_duplicates(subset =['ROUTE_ID', 'ROUTE_NAME','SEQ','STATION_NM','STATION_ID','MAP_LON','MAP_LAT'], keep = 'first', inplace = True) 

df_route_station

        ROUTE_ID ROUTE_NAME  SEQ STATION_NM  STATION_ID    MAP_LON     MAP_LAT
0      228000018       10-4    1      용인터미널   228001552  37.232783  127.210100
2      228000018       10-4    2  용인터미널(경유)   277102443  37.235350  127.209033
3      228000018       10-4    3      포브스병원   228000443  37.235267  127.210617
4      228000018       10-4    4       제일교회   228000665  37.234300  127.213333
5      228000018       10-4    5     라이프아파트   228000664  37.231483  127.213767
...          ...        ...  ...        ...         ...        ...         ...
39452  241491011       38-1   63   신일해피트리후문   233002733  37.222650  126.978983
39453  241491011       38-1   64  기배동행정복지센터   233002726  37.224000  126.983150
39454  241491011       38-1   65     기안1통입구   233002959  37.225683  126.986250
39455  241491011       38-1   66       배양2리   233002717  37.226833  126.992067
39456  241491011       38-1   67       배양1동   233532650  37.226783  126.997700

[37831 rows x 7 columns]