In [3]:
import pandas as pd

# read in data

tripChain = pd.read_csv('./화성시버스노선최적화/data/PJT001_TripChain.csv')

In [4]:
# 컬럼이름을 좀 이쁘게 만들어 보자

tripChain.columns=['암호화카드번호', '트랜잭션ID', '환승횟수', '교통카드발행사ID',
       '총이용객수', '사용자구분', '교통수단CD1', '교통수단CD2',
       '교통수단CD3', '교통수단CD4', '교통수단CD5', '버스노선ID1',
       '버스노선ID2', '버스노선ID3', '버스노선ID4', '버스노선ID5',
       '차량ID1', '차량ID2', '차량ID3', '차량ID4',
       '차량ID5', '총통행거리', '총탑승시간', '총소요시간',
       '승차일시1', '승차일시2', '승차일시3', '승차일시4',
       '승차일시5', '하차일시1', '하차일시2', '하차일시3',
       '하차일시4', '하차일시5', '최초승차일시', '최종하차일시',
       '승차역ID1', '승차역ID2', '승차역ID3', '승차역ID4',
       '승차역ID5', '하차역ID1', '하차역ID2', '하차역ID3',
       '하차역ID4', '하차역ID5', '최초승차역ID', '최종하차역ID',
       '총이용금액', '수집건수', '트립체인완료코드']

In [5]:
tripChain.columns

Index(['암호화카드번호', '트랜잭션ID', '환승횟수', '교통카드발행사ID', '총이용객수', '사용자구분', '교통수단CD1',
       '교통수단CD2', '교통수단CD3', '교통수단CD4', '교통수단CD5', '버스노선ID1', '버스노선ID2',
       '버스노선ID3', '버스노선ID4', '버스노선ID5', '차량ID1', '차량ID2', '차량ID3', '차량ID4',
       '차량ID5', '총통행거리', '총탑승시간', '총소요시간', '승차일시1', '승차일시2', '승차일시3', '승차일시4',
       '승차일시5', '하차일시1', '하차일시2', '하차일시3', '하차일시4', '하차일시5', '최초승차일시',
       '최종하차일시', '승차역ID1', '승차역ID2', '승차역ID3', '승차역ID4', '승차역ID5', '하차역ID1',
       '하차역ID2', '하차역ID3', '하차역ID4', '하차역ID5', '최초승차역ID', '최종하차역ID', '총이용금액',
       '수집건수', '트립체인완료코드'],
      dtype='object')

In [6]:
df_usage1=tripChain[['버스노선ID1', '승차역ID1']]
df_usage1 = df_usage1.rename(columns={'버스노선ID1' : '노선ID', '승차역ID1' : '표준정류장ID'})

df_usage2=tripChain[['버스노선ID2', '승차역ID2']]
df_usage2 = df_usage2.rename(columns={'버스노선ID2' : '노선ID', '승차역ID2' : '표준정류장ID'})

df_usage3=tripChain[['버스노선ID3', '승차역ID3']]
df_usage3 = df_usage3.rename(columns={'버스노선ID3' : '노선ID', '승차역ID3' : '표준정류장ID'})

df_usage4=tripChain[['버스노선ID4', '승차역ID4']]
df_usage4 = df_usage4.rename(columns={'버스노선ID4' : '노선ID', '승차역ID4' : '표준정류장ID'})

df_usage5=tripChain[['버스노선ID5', '승차역ID5']]
df_usage5 = df_usage5.rename(columns={'버스노선ID5' : '노선ID', '승차역ID5' : '표준정류장ID'})

df_usage = pd.concat([df_usage1, df_usage2, df_usage3, df_usage4, df_usage5])
df_usage

               노선ID    표준정류장ID
0        41002045.0  4116828.0
1        41031040.0  4117280.0
2        41031121.0  4199619.0
3        41031013.0  4108130.0
4        41020001.0  4100122.0
...             ...        ...
1048570         NaN        NaN
1048571         NaN        NaN
1048572         NaN        NaN
1048573         NaN        NaN
1048574         NaN        NaN

[5242875 rows x 2 columns]

In [7]:
df_usage.drop_duplicates(subset = ['노선ID', '표준정류장ID'], keep = 'first', inplace = True) 
df_usage

               노선ID    표준정류장ID
0        41002045.0  4116828.0
1        41031040.0  4117280.0
2        41031121.0  4199619.0
3        41031013.0  4108130.0
4        41020001.0  4100122.0
...             ...        ...
985169   11110956.0        NaN
985205   41326003.0        NaN
1006793  41006251.0        NaN
1012626  11110970.0        NaN
1048192  41040030.0        NaN

[41096 rows x 2 columns]

In [8]:
df_usage.isna().sum()

노선ID        665
표준정류장ID    1396
dtype: int64

In [9]:
df_usage = df_usage.dropna()
df_usage

               노선ID    표준정류장ID
0        41002045.0  4116828.0
1        41031040.0  4117280.0
2        41031121.0  4199619.0
3        41031013.0  4108130.0
4        41020001.0  4100122.0
...             ...        ...
1047210  41039002.0  4111954.0
1047303  11110999.0  9002133.0
1047812  11110374.0  9034299.0
1048067  41006328.0  4111693.0
1048207  28030014.0  2801439.0

[39036 rows x 2 columns]

In [10]:
time_table = pd.DataFrame(list(range(0,24)))
time_table

     0
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
10  10
11  11
12  12
13  13
14  14
15  15
16  16
17  17
18  18
19  19
20  20
21  21
22  22
23  23

In [11]:
df_usage['key'] = 0
time_table['key'] = 0

df_usage = pd.merge(df_usage, time_table, how='outer', left_on='key', right_on='key')
df_usage

c:\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

              노선ID    표준정류장ID  key   0
0       41002045.0  4116828.0    0   0
1       41002045.0  4116828.0    0   1
2       41002045.0  4116828.0    0   2
3       41002045.0  4116828.0    0   3
4       41002045.0  4116828.0    0   4
...            ...        ...  ...  ..
936859  28030014.0  2801439.0    0  19
936860  28030014.0  2801439.0    0  20
936861  28030014.0  2801439.0    0  21
936862  28030014.0  2801439.0    0  22
936863  28030014.0  2801439.0    0  23

[936864 rows x 4 columns]

In [12]:
df_usage = df_usage.drop('key', axis=1)
df_usage

              노선ID    표준정류장ID   0
0       41002045.0  4116828.0   0
1       41002045.0  4116828.0   1
2       41002045.0  4116828.0   2
3       41002045.0  4116828.0   3
4       41002045.0  4116828.0   4
...            ...        ...  ..
936859  28030014.0  2801439.0  19
936860  28030014.0  2801439.0  20
936861  28030014.0  2801439.0  21
936862  28030014.0  2801439.0  22
936863  28030014.0  2801439.0  23

[936864 rows x 3 columns]

In [13]:
import numpy as np
df_usage = df_usage.rename(columns={0: '시간대'})
df_usage['승차'] = 0
df_usage['하차'] = 0
df_usage['환승'] = 0
df_usage

              노선ID    표준정류장ID  시간대  승차  하차  환승
0       41002045.0  4116828.0    0   0   0   0
1       41002045.0  4116828.0    1   0   0   0
2       41002045.0  4116828.0    2   0   0   0
3       41002045.0  4116828.0    3   0   0   0
4       41002045.0  4116828.0    4   0   0   0
...            ...        ...  ...  ..  ..  ..
936859  28030014.0  2801439.0   19   0   0   0
936860  28030014.0  2801439.0   20   0   0   0
936861  28030014.0  2801439.0   21   0   0   0
936862  28030014.0  2801439.0   22   0   0   0
936863  28030014.0  2801439.0   23   0   0   0

[936864 rows x 6 columns]

In [14]:
df_usage['시간대'] = df_usage['시간대'].astype(str)

In [15]:
tripChain.columns

Index(['암호화카드번호', '트랜잭션ID', '환승횟수', '교통카드발행사ID', '총이용객수', '사용자구분', '교통수단CD1',
       '교통수단CD2', '교통수단CD3', '교통수단CD4', '교통수단CD5', '버스노선ID1', '버스노선ID2',
       '버스노선ID3', '버스노선ID4', '버스노선ID5', '차량ID1', '차량ID2', '차량ID3', '차량ID4',
       '차량ID5', '총통행거리', '총탑승시간', '총소요시간', '승차일시1', '승차일시2', '승차일시3', '승차일시4',
       '승차일시5', '하차일시1', '하차일시2', '하차일시3', '하차일시4', '하차일시5', '최초승차일시',
       '최종하차일시', '승차역ID1', '승차역ID2', '승차역ID3', '승차역ID4', '승차역ID5', '하차역ID1',
       '하차역ID2', '하차역ID3', '하차역ID4', '하차역ID5', '최초승차역ID', '최종하차역ID', '총이용금액',
       '수집건수', '트립체인완료코드'],
      dtype='object')

In [16]:
tripChain.loc[1]['승차일시1']

20180701072156.0

In [17]:
tripChain['승차시간1'] = tripChain.승차일시1.astype(str)
tripChain['승차시간1'] = tripChain.승차시간1.str.slice(8, 10)

tripChain['승차시간2'] = tripChain.승차일시2.astype(str)
tripChain['승차시간2'] = tripChain.승차시간2.str.slice(8, 10)

tripChain['승차시간3'] = tripChain.승차일시3.astype(str)
tripChain['승차시간3'] = tripChain.승차시간3.str.slice(8, 10)

tripChain['승차시간4'] = tripChain.승차일시4.astype(str)
tripChain['승차시간4'] = tripChain.승차시간4.str.slice(8, 10)

tripChain['승차시간5'] = tripChain.승차일시5.astype(str)
tripChain['승차시간5'] = tripChain.승차시간5.str.slice(8, 10)

tripChain['하차시간1'] = tripChain.하차일시1.astype(str)
tripChain['하차시간1'] = tripChain.하차시간1.str.slice(8, 10)

tripChain['하차시간2'] = tripChain.하차일시2.astype(str)
tripChain['하차시간2'] = tripChain.하차시간2.str.slice(8, 10)

tripChain['하차시간3'] = tripChain.하차일시3.astype(str)
tripChain['하차시간3'] = tripChain.하차시간3.str.slice(8, 10)

tripChain['하차시간4'] = tripChain.하차일시4.astype(str)
tripChain['하차시간4'] = tripChain.하차시간4.str.slice(8, 10)

tripChain['하차시간5'] = tripChain.하차일시5.astype(str)
tripChain['하차시간5'] = tripChain.하차시간5.str.slice(8, 10)

In [18]:
 tripChain = tripChain.drop(['암호화카드번호', '트랜잭션ID', '환승횟수', '교통카드발행사ID', '총이용객수',
                             '사용자구분', '교통수단CD1', '교통수단CD2', '교통수단CD3', '교통수단CD4', 
                             '승차일시1', '승차일시2', '승차일시3', '승차일시4','승차일시5', '하차일시1', 
                             '하차일시2', '하차일시3', '하차일시4', '하차일시5',
                             '교통수단CD5', '차량ID1', '차량ID2', '차량ID3', '차량ID4', '차량ID5', 
                             '총통행거리', '총탑승시간', '총소요시간', '최초승차일시','최종하차일시', '총이용금액',
                             '수집건수', '트립체인완료코드'], axis=1)
    
tripChain = tripChain.dropna(subset=['승차시간1'])
tripChain.shape

(1048575, 27)

In [19]:
tripChain

,버스노선ID1,버스노선ID2,버스노선ID3,버스노선ID4,버스노선ID5,승차역ID1,승차역ID2,승차역ID3,승차역ID4,승차역ID5,...,승차시간1,승차시간2,승차시간3,승차시간4,승차시간5,하차시간1,하차시간2,하차시간3,하차시간4,하차시간5
0,41002045.0,41002044.0,NaN,NaN,NaN,4116828.0,4150144.0,NaN,NaN,NaN,...,05,06,,,,05,06,,,
1,41031040.0,NaN,NaN,NaN,NaN,4117280.0,NaN,NaN,NaN,NaN,...,07,,,,,07,,,,
2,41031121.0,NaN,NaN,NaN,NaN,4199619.0,NaN,NaN,NaN,NaN,...,12,,,,,13,,,,
3,41031013.0,NaN,NaN,NaN,NaN,4108130.0,NaN,NaN,NaN,NaN,...,22,,,,,22,,,,
4,41020001.0,NaN,NaN,NaN,NaN,4100122.0,NaN,NaN,NaN,NaN,...,08,,,,,08,,,,
5,41020001.0,NaN,NaN,NaN,NaN,4100098.0,NaN,NaN,NaN,NaN,...,22,,,,,22,,,,
6,41067109.0,NaN,41021002.0,NaN,NaN,4197606.0,1716.0,4116611.0,NaN,NaN,...,07,08,08,,,08,08,08,,
7,41110050.0,NaN,41067109.0,NaN,NaN,9814.0,1708.0,4151651.0,NaN,NaN,...,15,15,16,,,15,16,16,,
8,41002045.0,NaN,NaN,NaN,NaN,4100527.0,NaN,NaN,NaN,NaN,...,12,,,,,12,,,,
9,41036102.0,NaN,NaN,NaN,NaN,4111874.0,NaN,NaN,NaN,NaN,...,12,,,,,12,,,,
10,41031065.0,41027004.0,NaN,NaN,NaN,4116704.0,4108130.0,NaN,NaN,NaN,...,09,09,,,,09,09,,,
11,41036111.0,NaN,NaN,NaN,NaN,4108100.0,NaN,NaN,NaN,NaN,...,10,,,,,10,,,,
12,41020001.0,41324001.0,NaN,NaN,NaN,4100084.0,9151651.0,NaN,NaN,NaN,...,14,15,,,,14,15,,,
13,41036102.0,NaN,NaN,NaN,NaN,4108065.0,NaN,NaN,NaN,NaN,...,15,,,,,15,,,,
14,41031020.0,NaN,NaN,NaN,NaN,4108051.0,NaN,NaN,NaN,NaN,...,16,,,,,17,,,,
15,41036111.0,NaN,NaN,NaN,NaN,4108036.0,NaN,NaN,NaN,NaN,...,20,,,,,20,,,,
16,41002045.0,NaN,NaN,NaN,NaN,4108044.0,NaN,NaN,NaN,NaN,...,21,,,,,22,,,,
17,41020001.0,NaN,NaN,NaN,NaN,4100086.0,NaN,NaN,NaN,NaN,...,11,,,,,11,,,,
18,41020001.0,NaN,NaN,NaN,NaN,4100013.0,NaN,NaN,NaN,NaN,...,18,,,,,19,,,,
19,41367001.0,41067005.0,NaN,NaN,NaN,4118428.0,4130412.0,NaN,NaN,NaN,...,18,18,,,,18,18,,,
20,41027009.0,NaN,NaN,NaN,NaN,4122214.0,NaN,NaN,NaN,NaN,...,17,,,,,17,,,,
21,41061025.0,NaN,41425003.0,NaN,NaN,4108111.0,1869.0,4119143.0,NaN,NaN,...,19,19,19,,,19,19,20,,
22,41031024.0,NaN,NaN,NaN,NaN,4116972.0,NaN,NaN,NaN,NaN,...,22,,,,,22,,,,
23,41067005.0,NaN,NaN,NaN,NaN,4198644.0,NaN,NaN,NaN,NaN,...,09,,,,,09,,,,
24,41031065.0,NaN,NaN,NaN,NaN,4170271.0,NaN,NaN,NaN,NaN,...,14,,,,,14,,,,
25,41031065.0,NaN,NaN,NaN,NaN,4100024.0,NaN,NaN,NaN,NaN,...,22,,,,,22,,,,
26,41036102.0,NaN,NaN,NaN,NaN,4108071.0,NaN,NaN,NaN,NaN,...,12,,,,,12,,,,
27,41075011.0,41031121.0,NaN,NaN,NaN,4120515.0,4170841.0,NaN,NaN,NaN,...,18,18,,,,18,18,,,
28,41031004.0,NaN,NaN,NaN,NaN,4130401.0,NaN,NaN,NaN,NaN,...,14,,,,,14,,,,
29,41367001.0,41027009.0,NaN,NaN,NaN,4130401.0,4100028.0,NaN,NaN,NaN,...,21,21,,,,21,21,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048545,41027004.0,NaN,NaN,NaN,NaN,4197690.0,1869.0,NaN,NaN,NaN,...,08,08,,,,08,09,,,
1048546,NaN,41036111.0,NaN,NaN,NaN,1855.0,4106798.0,NaN,NaN,NaN,...,20,20,,,,20,20,,,
1048547,41027004.0,NaN,NaN,NaN,NaN,4108110.0,NaN,NaN,NaN,NaN,...,11,,,,,11,,,,
1048548,41027008.0,NaN,NaN,NaN,NaN,4122214.0,NaN,NaN,NaN,NaN,...,14,,,,,14,,,,
1048549,41008148.0,41008008.0,11111002.0,NaN,NaN,4102831.0,4108165.0,8812.0,NaN,NaN,...,15,16,16,,,16,16,17,,
1048550,41332001.0,41002090.0,NaN,NaN,NaN,4196065.0,4196049.0,NaN,NaN,NaN,...,12,13,,,,12,13,,,
1048551,41420003.0,41002090.0,41332001.0,NaN,NaN,4176081.0,4150147.0,4150343.0,NaN,NaN,...,18,18,19,,,18,18,19,,
1048552,41061027.0,NaN,NaN,NaN,NaN,4116965.0,NaN,NaN,NaN,NaN,...,05,,,,,05,,,,
1048553,41002090.0,NaN,NaN,NaN,NaN,4197552.0,NaN,NaN,NaN,NaN,...,16,,,,,16,,,,
1048554,41036111.0,NaN,NaN,NaN,NaN,4199455.0,NaN,NaN,NaN,NaN,...,16,,,,,17,,,,
1048555,41036102.0,41036012.0,NaN,NaN,NaN,4170107.0,4108071.0,NaN,NaN,NaN,...,20,21,,,,20,21,,,
1048556,41021030.0,41027004.0,NaN,NaN,NaN,4103719.0,4100153.0,NaN,NaN,NaN,...,17,17,,,,17,18,,,
1048557,41067012.0,NaN,NaN,NaN,NaN,4176974.0,NaN,NaN,NaN,NaN,...,16,,,,,16,,,,
1048558,41067012.0,NaN,NaN,NaN,NaN,4130412.0,NaN,NaN,NaN,NaN,...,18,,,,,19,,,,
1048559,41002044.0,NaN,NaN,NaN,NaN,4116671.0,NaN,NaN,NaN,NaN,...,22,,,,,22,,,,
1048560,41031030.0,NaN,NaN,NaN,NaN,4179371.0,1872.0,NaN,NaN,NaN,...,13,14,,,,14,14,,,
1048561,41036110.0,NaN,NaN,NaN,NaN,4116880.0,NaN,NaN,NaN,NaN,...,11,,,,,12,,,,
1048562,41036108.0,41036032.0,NaN,NaN,NaN,4116860.0,4116948.0,NaN,NaN,NaN,...,13,13,,,,13,13,,,
1048563,41036113.0,NaN,NaN,NaN,NaN,4116750.0,1711.0,NaN,NaN,NaN,...,08,08,,,,08,08,,,
1048564,41036132.0,NaN,NaN,NaN,NaN,4108015.0,NaN,NaN,NaN,NaN,...,23,,,,,23,,,,
1048565,41036131.0,NaN,NaN,NaN,NaN,4101524.0,NaN,NaN,NaN,NaN,...,14,,,,,14,,,,
1048566,41036132.0,NaN,NaN,NaN,NaN,4116882.0,NaN,NaN,NaN,NaN,...,16,,,,,16,,,,
1048567,41086011.0,41044001.0,NaN,NaN,NaN,4170942.0,4100021.0,NaN,NaN,NaN,...,07,08,,,,08,08,,,
1048568,41031020.0,NaN,NaN,NaN,NaN,4107928.0,NaN,NaN,NaN,NaN,...,17,,,,,18,,,,
1048569,41002046.0,NaN,NaN,NaN,NaN,4111845.0,NaN,NaN,NaN,NaN,...,09,,,,,09,,,,
1048570,41067012.0,NaN,NaN,NaN,NaN,4130419.0,NaN,NaN,NaN,NaN,...,15,,,,,15,,,,
1048571,41061025.0,NaN,NaN,NaN,NaN,4108112.0,NaN,NaN,NaN,NaN,...,16,,,,,16,,,,
1048572,41036131.0,41205007.0,NaN,NaN,NaN,4170340.0,4116674.0,NaN,NaN,NaN,...,09,10,,,,09,10,,,
1048573,41036113.0,NaN,NaN,NaN,NaN,4116734.0,NaN,NaN,NaN,NaN,...,08,,,,,09,,,,
1048574,41036113.0,NaN,NaN,NaN,NaN,4108147.0,NaN,NaN,NaN,NaN,...,21,,,,,21,,,,

In [20]:
tripChain

,버스노선ID1,버스노선ID2,버스노선ID3,버스노선ID4,버스노선ID5,승차역ID1,승차역ID2,승차역ID3,승차역ID4,승차역ID5,...,승차시간1,승차시간2,승차시간3,승차시간4,승차시간5,하차시간1,하차시간2,하차시간3,하차시간4,하차시간5
0,41002045.0,41002044.0,NaN,NaN,NaN,4116828.0,4150144.0,NaN,NaN,NaN,...,05,06,,,,05,06,,,
1,41031040.0,NaN,NaN,NaN,NaN,4117280.0,NaN,NaN,NaN,NaN,...,07,,,,,07,,,,
2,41031121.0,NaN,NaN,NaN,NaN,4199619.0,NaN,NaN,NaN,NaN,...,12,,,,,13,,,,
3,41031013.0,NaN,NaN,NaN,NaN,4108130.0,NaN,NaN,NaN,NaN,...,22,,,,,22,,,,
4,41020001.0,NaN,NaN,NaN,NaN,4100122.0,NaN,NaN,NaN,NaN,...,08,,,,,08,,,,
5,41020001.0,NaN,NaN,NaN,NaN,4100098.0,NaN,NaN,NaN,NaN,...,22,,,,,22,,,,
6,41067109.0,NaN,41021002.0,NaN,NaN,4197606.0,1716.0,4116611.0,NaN,NaN,...,07,08,08,,,08,08,08,,
7,41110050.0,NaN,41067109.0,NaN,NaN,9814.0,1708.0,4151651.0,NaN,NaN,...,15,15,16,,,15,16,16,,
8,41002045.0,NaN,NaN,NaN,NaN,4100527.0,NaN,NaN,NaN,NaN,...,12,,,,,12,,,,
9,41036102.0,NaN,NaN,NaN,NaN,4111874.0,NaN,NaN,NaN,NaN,...,12,,,,,12,,,,
10,41031065.0,41027004.0,NaN,NaN,NaN,4116704.0,4108130.0,NaN,NaN,NaN,...,09,09,,,,09,09,,,
11,41036111.0,NaN,NaN,NaN,NaN,4108100.0,NaN,NaN,NaN,NaN,...,10,,,,,10,,,,
12,41020001.0,41324001.0,NaN,NaN,NaN,4100084.0,9151651.0,NaN,NaN,NaN,...,14,15,,,,14,15,,,
13,41036102.0,NaN,NaN,NaN,NaN,4108065.0,NaN,NaN,NaN,NaN,...,15,,,,,15,,,,
14,41031020.0,NaN,NaN,NaN,NaN,4108051.0,NaN,NaN,NaN,NaN,...,16,,,,,17,,,,
15,41036111.0,NaN,NaN,NaN,NaN,4108036.0,NaN,NaN,NaN,NaN,...,20,,,,,20,,,,
16,41002045.0,NaN,NaN,NaN,NaN,4108044.0,NaN,NaN,NaN,NaN,...,21,,,,,22,,,,
17,41020001.0,NaN,NaN,NaN,NaN,4100086.0,NaN,NaN,NaN,NaN,...,11,,,,,11,,,,
18,41020001.0,NaN,NaN,NaN,NaN,4100013.0,NaN,NaN,NaN,NaN,...,18,,,,,19,,,,
19,41367001.0,41067005.0,NaN,NaN,NaN,4118428.0,4130412.0,NaN,NaN,NaN,...,18,18,,,,18,18,,,
20,41027009.0,NaN,NaN,NaN,NaN,4122214.0,NaN,NaN,NaN,NaN,...,17,,,,,17,,,,
21,41061025.0,NaN,41425003.0,NaN,NaN,4108111.0,1869.0,4119143.0,NaN,NaN,...,19,19,19,,,19,19,20,,
22,41031024.0,NaN,NaN,NaN,NaN,4116972.0,NaN,NaN,NaN,NaN,...,22,,,,,22,,,,
23,41067005.0,NaN,NaN,NaN,NaN,4198644.0,NaN,NaN,NaN,NaN,...,09,,,,,09,,,,
24,41031065.0,NaN,NaN,NaN,NaN,4170271.0,NaN,NaN,NaN,NaN,...,14,,,,,14,,,,
25,41031065.0,NaN,NaN,NaN,NaN,4100024.0,NaN,NaN,NaN,NaN,...,22,,,,,22,,,,
26,41036102.0,NaN,NaN,NaN,NaN,4108071.0,NaN,NaN,NaN,NaN,...,12,,,,,12,,,,
27,41075011.0,41031121.0,NaN,NaN,NaN,4120515.0,4170841.0,NaN,NaN,NaN,...,18,18,,,,18,18,,,
28,41031004.0,NaN,NaN,NaN,NaN,4130401.0,NaN,NaN,NaN,NaN,...,14,,,,,14,,,,
29,41367001.0,41027009.0,NaN,NaN,NaN,4130401.0,4100028.0,NaN,NaN,NaN,...,21,21,,,,21,21,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048545,41027004.0,NaN,NaN,NaN,NaN,4197690.0,1869.0,NaN,NaN,NaN,...,08,08,,,,08,09,,,
1048546,NaN,41036111.0,NaN,NaN,NaN,1855.0,4106798.0,NaN,NaN,NaN,...,20,20,,,,20,20,,,
1048547,41027004.0,NaN,NaN,NaN,NaN,4108110.0,NaN,NaN,NaN,NaN,...,11,,,,,11,,,,
1048548,41027008.0,NaN,NaN,NaN,NaN,4122214.0,NaN,NaN,NaN,NaN,...,14,,,,,14,,,,
1048549,41008148.0,41008008.0,11111002.0,NaN,NaN,4102831.0,4108165.0,8812.0,NaN,NaN,...,15,16,16,,,16,16,17,,
1048550,41332001.0,41002090.0,NaN,NaN,NaN,4196065.0,4196049.0,NaN,NaN,NaN,...,12,13,,,,12,13,,,
1048551,41420003.0,41002090.0,41332001.0,NaN,NaN,4176081.0,4150147.0,4150343.0,NaN,NaN,...,18,18,19,,,18,18,19,,
1048552,41061027.0,NaN,NaN,NaN,NaN,4116965.0,NaN,NaN,NaN,NaN,...,05,,,,,05,,,,
1048553,41002090.0,NaN,NaN,NaN,NaN,4197552.0,NaN,NaN,NaN,NaN,...,16,,,,,16,,,,
1048554,41036111.0,NaN,NaN,NaN,NaN,4199455.0,NaN,NaN,NaN,NaN,...,16,,,,,17,,,,
1048555,41036102.0,41036012.0,NaN,NaN,NaN,4170107.0,4108071.0,NaN,NaN,NaN,...,20,21,,,,20,21,,,
1048556,41021030.0,41027004.0,NaN,NaN,NaN,4103719.0,4100153.0,NaN,NaN,NaN,...,17,17,,,,17,18,,,
1048557,41067012.0,NaN,NaN,NaN,NaN,4176974.0,NaN,NaN,NaN,NaN,...,16,,,,,16,,,,
1048558,41067012.0,NaN,NaN,NaN,NaN,4130412.0,NaN,NaN,NaN,NaN,...,18,,,,,19,,,,
1048559,41002044.0,NaN,NaN,NaN,NaN,4116671.0,NaN,NaN,NaN,NaN,...,22,,,,,22,,,,
1048560,41031030.0,NaN,NaN,NaN,NaN,4179371.0,1872.0,NaN,NaN,NaN,...,13,14,,,,14,14,,,
1048561,41036110.0,NaN,NaN,NaN,NaN,4116880.0,NaN,NaN,NaN,NaN,...,11,,,,,12,,,,
1048562,41036108.0,41036032.0,NaN,NaN,NaN,4116860.0,4116948.0,NaN,NaN,NaN,...,13,13,,,,13,13,,,
1048563,41036113.0,NaN,NaN,NaN,NaN,4116750.0,1711.0,NaN,NaN,NaN,...,08,08,,,,08,08,,,
1048564,41036132.0,NaN,NaN,NaN,NaN,4108015.0,NaN,NaN,NaN,NaN,...,23,,,,,23,,,,
1048565,41036131.0,NaN,NaN,NaN,NaN,4101524.0,NaN,NaN,NaN,NaN,...,14,,,,,14,,,,
1048566,41036132.0,NaN,NaN,NaN,NaN,4116882.0,NaN,NaN,NaN,NaN,...,16,,,,,16,,,,
1048567,41086011.0,41044001.0,NaN,NaN,NaN,4170942.0,4100021.0,NaN,NaN,NaN,...,07,08,,,,08,08,,,
1048568,41031020.0,NaN,NaN,NaN,NaN,4107928.0,NaN,NaN,NaN,NaN,...,17,,,,,18,,,,
1048569,41002046.0,NaN,NaN,NaN,NaN,4111845.0,NaN,NaN,NaN,NaN,...,09,,,,,09,,,,
1048570,41067012.0,NaN,NaN,NaN,NaN,4130419.0,NaN,NaN,NaN,NaN,...,15,,,,,15,,,,
1048571,41061025.0,NaN,NaN,NaN,NaN,4108112.0,NaN,NaN,NaN,NaN,...,16,,,,,16,,,,
1048572,41036131.0,41205007.0,NaN,NaN,NaN,4170340.0,4116674.0,NaN,NaN,NaN,...,09,10,,,,09,10,,,
1048573,41036113.0,NaN,NaN,NaN,NaN,4116734.0,NaN,NaN,NaN,NaN,...,08,,,,,09,,,,
1048574,41036113.0,NaN,NaN,NaN,NaN,4108147.0,NaN,NaN,NaN,NaN,...,21,,,,,21,,,,

In [21]:
tripChain.to_csv('tripChain_by_time.csv', sep=',')

chultaegeun = ['07', '08', '09', '17', '18', '19']

print(len(tripChain))

for index, row in tripChain.iterrows():
    if(row['승차시간1'] not in chultaegeun):
        tripChain.drop(index, inplace=True)
        
print(len(tripChain))